@charset "utf-8";
#wrap1{
	display: block;
	height: 300px;
	width: 1019px;
	margin: auto;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	border: 3px solid #F97577;
}
#cont1 {
	display: block;
	float: left;
	height: 300px;
	width: 1019px;
	overflow: auto;
	background-color: #F3EEA8;
}


#slidshow {
	height: 300px;
	width: 1019px;
	float: left;
	position: absolute;
	overflow: hidden;
	display: block;
}
